main {
  margin-bottom: 400px;
}
.container {
  margin: 0 auto;
  padding: 15px;
  max-width: 1500px;

  &-lg {
    width: 100%;
    margin: 30px 60px;
    position: absolute;
  }

  &--area {
    width: 100%;
    // display: flex;
    // flex-direction: column;
    // align-items: flex-start;
    // justify-content: center;
  }
}

.flex-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  // margin-bottom: 220px;

  @media screen and (max-width: 1200px) {
    display: block;
  }

  p {
    font-weight: normal;
    font-size: 20px;
    line-height: 29px;
    letter-spacing: 0.05em;
    margin-bottom: 40px;
  }

  .wrap {
    &__text {
      width: 40%;

      @media screen and (max-width: 1200px) {
        width: 100%;
      }

      p {
        width: 70%;

        @media screen and (max-width: 902px) {
          width: 100%;
        }
      }
    }

    &__image {
      width: 55%;

      @media screen and (max-width: 1200px) {
        width: 100%;
      }

      img {
        width: 100%;
        @media screen and (max-width: 902px) {
          width: 100%;
        }
      }
    }
  }
}

.flex-wrap-wrap {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}


.flex-wrap-team {
  display: flex;
  justify-content: space-between;
  @media screen and (max-width: 1000px) {
    display: block;
  }
}

.flex-wrap-constant {
  display: flex;
  justify-content: space-around;
  flex-wrap: nowrap;
  text-align: center;
}