span {
  font-size: 48px;
}

h1 {
  font-style: normal;
  font-weight: 500;
  font-size: 100px;
  line-height: 122px;
  display: flex;
  align-items: flex-end;
  letter-spacing: 0.01em;
  max-width: 626px;

  @media screen and (max-width: 1245px) {
    font-size: calc(48px + (100 - 48) * ((100vw - 320px) / (1200 - 320)));
    margin: 0;
    line-height: 85px;
  }
}

h2 {
  font-weight: bold;
  font-size: 72px;
  line-height: 88px;
  letter-spacing: 0.05em;
  position: relative;
  text-transform: uppercase;
  margin: 20px 0;
  @media screen and (max-width: 1245px) {
    font-size: calc(36px + (72 - 36) * ((100vw - 320px) / (1200 - 320)));
  }
}

h3 {
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 59px;
  letter-spacing: 0.05em;
  @media screen and (max-width: 1245px) {
    font-size: calc(30px + (48 - 30) * ((100vw - 320px) / (1200 - 320)));
  }
}

h4 {
  font-weight: bold;
  font-size: 36px;
  line-height: 44px;
  text-align: center;
  letter-spacing: 0.05em;
  white-space: nowrap;
  @media screen and (max-width: 1245px) {
    font-size: calc(18px + (36 - 18) * ((100vw - 320px) / (1200 - 320)));
  }
}

h5 {
  font-weight: bold;
  font-size: 30px;
  line-height: 37px;
  letter-spacing: 0.05em;
  text-transform: capitalize;
  @media screen and (max-width: 1245px) {
    font-size: calc(18px + (30 - 18) * ((100vw - 320px) / (1200 - 320)));
  }
}

h6 {
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.05em;
  text-transform: capitalize;

  @media screen and (max-width: 1245px) {
    font-size: calc(18px + (20 - 18) * ((100vw - 320px) / (1200 - 320)));
  }
}
.text-black {
  color: #000000;
}
.text-white {
  color: #ffffff;
}
.text-gray {
  color: #555555;
}
.text-blue {
  color: #2b6995;
}
.text-dark-blue {
  color: #243b42;
}
.text-dark-gray {
  color: #333;
}
.indent-zero {
margin: 0;
}