.head-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;

  @media screen and (max-width: 902px) {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  }
}

.head-nav {
  z-index: 1;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  width: 60%;
  @media screen and (max-width: 1245px) {
    font-size: 15px;
  }
  @media screen and (max-width: 902px) {
  }

  a {
  }
}
