@import "normalize.scss";
@import "margin.scss";
@import "top-area.scss";
@import "flex-box.scss";
@import "menu-box.scss";
@import "header.scss";
@import "benefits.scss";
@import "choices.scss";
@import "work-together.scss";
@import "our-team-section.scss";
@import "footer.scss";
@import "font-style.scss";


.link-more {
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.05em;
}

// section Steps
.step {
  text-align: center;
  position: relative;
  padding: 110px 0 0 0;
  width: 320px;
  min-width: 220px;

  &-button {
    padding: 0;
  }
}

// Quote scetion

.logo {
width: 50%;
  img {
    width: 50%;
  }
}

.img-absolute {
  position: absolute;
  bottom: -100px;
  left: 50%;
  transform: translateX(-50%);
}

.lights {
  width: 100%;
  padding: 100px 0;
  margin-top: 200px;
}

.images-cell {
  display: flex;
  justify-content: start;
  // width: 50%;

  .images-cell_1 {
    margin-top: 200px;
  }

  .images-cell_2 {
  }
}

.card {
  width: 33.3%;
  padding: 130px 70px 25px;
  text-align: center;
  z-index: 1;
  position: relative;

  p {
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.05em;
  }
}

.card:hover {
  box-shadow: 0px 0px 55px -8px rgba(85, 85, 85, 0.5);
  cursor: pointer;

  .green-arrow {
    display: flex;
  }
}

.blue-cube {
  background: rgba(202, 240, 248, 0.3);
  width: 240px;
  height: 240px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto 50px;

  p {
    font-weight: bold;
    font-size: 36px;
    line-height: 44px;
    letter-spacing: 0.05em;
  }
}

.blue-cube__inkline {
  transform: rotate(11.31deg);
  position: absolute;
}

.green-arrow {
  width: 86px;
  height: 80px;
  background-color: #9dd524;
  position: absolute;
  bottom: -40px;
  left: 50%;
  transform: translatex(-50%);
  display: none;
  justify-content: center;
  align-items: center;
}

.green-arrow__line {
  width: 47px;
  height: 3px;
  background-color: #fff;
}

.green-arrow__arrow {
  position: absolute;
  right: 12px;
}

.arrow-part {
  width: 20px;
  height: 3px;
  background-color: #fff;
  position: absolute;
  right: 32px;
}

.arrow-part-1 {
  transform: rotate(45deg);
  bottom: -6px;
}

.arrow-part-2 {
  transform: rotate(-45deg);
  top: -6px;
}

.action-frase {
  text-align: center;

  .button {
    margin: 0 auto 100px;
    display: flex;
    justify-content: center;
    max-width: 233px;
  }

  p {
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.05em;
    max-width: 902px;
    margin: 0 auto 50px;
  }

  .title {
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 59px;
    letter-spacing: 0.05em;
  }
}

.circle-arrow {
  border: 1px solid #fff;
  width: 51px;
  height: 51px;
  border-radius: 50%;
  position: relative;
}

.arrow-part {
  width: 15px;
  height: 1px;
  background-color: #fff;
  position: absolute;
  left: 40%;
  transform: translateX(-50%);

  &-1 {
    transform: rotate(-45deg);
    bottom: 18px;
  }

  &-2 {
    transform: rotate(45deg);
    top: 20px;
  }
}

.image-card {
  position: relative;
  width: 410px;
  height: 410px;
  border-radius: 10px;
  cursor: pointer;
  overflow: hidden;

  img {
    width: 100%;
    height: 100%;
    z-index: -1;
  }
}

.image-card::before {
  content: "";
  background: linear-gradient(270deg, #caf0f8 0%, #73a9c4 50.52%, #2b6995 100%);
  width: 100%;
  height: 100%;
  visibility: hidden;
  opacity: 0;
  position: absolute;
  left: 0;
  top: 0;
  transition: 0.2s visibility, opacity 0.2s ease-in-out;
}

.image-card:hover:before {
  content: "";
  visibility: visible;
  opacity: 1;
  transition: opacity 0.2s ease-in-out;
}

.image-card:hover {
  .circle-arrow {
    background-color: #fff;

    .arrow-part {
      background-color: #000;
    }
  }
}

.image-card__text {
  position: absolute;
  top: 20px;
  left: 50px;

  p {
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    display: flex;
    align-items: flex-end;
    letter-spacing: 0.05em;
  }
}

.image-card__arrow {
  position: absolute;
  left: 50px;
  bottom: 50px;
}

