.mt-0 {
    margin-top: 0;
}

.mt-10 {
    margin-top: 10px;
}

.mt-30 {
    margin-top: 30px;
}

.mt-50 {
    margin-top: 50px;
}

.mt-95 {
    margin-top: 95px;
}

.mb-100 {
    margin-bottom: 100px;
}

.m-0 {
    margin: 0;
}

.m-side20 {
    margin: auto 20px;

    @media screen and (max-width: 902px) {
        margin: 0;
    }
}