.burger-menu {
  //   display: none;
  @media screen and (max-width: 902px) {
    display: block;
  }
}

.menu {
  &__btn {
    display: none;
    align-items: center;
    position: absolute;
    top: 30px;
    right: 50px;
    width: 35px;
    height: 35px;
    cursor: pointer;
    z-index: 1;

    @media screen and (max-width: 902px) {
      display: block;
    }

    & > span,
    & > span::before,
    & > span::after {
      display: block;
      position: absolute;
      top: 10px;
      width: 30px;
      height: 2px;
      background-color: #555555;
      content: "";
    }

    & > span {
      &::after {
        top: 10px;
        width: 20px;
      }

      &::before {
        top: 20px;
        width: 35px;
      }
    }
  }

  &__box {
    display: flex;
    justify-content: space-between;

    @media screen and (max-width: 902px) {
      display: block;
      position: fixed;
      top: -100%;
      left: 0;
      width: 100%;
      margin: 0;
      padding: 80px 0;
      list-style: none;
      text-align: center;
      background: rgb(97, 180, 207);
      background: linear-gradient(
        219deg,
        rgba(97, 180, 207, 1) 0%,
        rgba(254, 249, 255, 1) 56%
      );
      box-shadow: 1px 0px 6px rgba(0, 0, 0, 0.2);
      backdrop-filter: blur(3px);
      opacity: 0.9;
      transition: top 0.6s ease;

      &.open {
        top: 0;
      }
    }
  }

  &__item {

    @media screen and (max-width: 902px) {
      display: block;
      padding: 12px 24px;
      font-size: 20px;
      font-weight: 600;
      text-decoration: none;
    }

    &:after {
      content: "";
      display: none;
      justify-content: center;
      height: 1px;
      width: 90%;
      background-color: #fef9ff;
      margin-top: 20px;

      @media screen and (max-width: 902px) {
        display: block;
      }
    }
  }
}
