// Фоновое изображение
.bg-wrap {
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  z-index: -1;

  .top-area-bg {
    height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top right;
    background-image: url(/images/top-area-fon.png);
    position: absolute;
    top: 0;
    right: 0;
    width: 65%;

    @media screen and (max-width: 902px) {
      display: none;
    }
  }
}

.top-area {
  height: 70vh;
  // min-height: 1100px;
  padding: 10px 0 0 165px;

  @media screen and (max-width: 1245px) {
    padding-left: 40px;
    min-height: auto;
  }
  @media screen and (max-width: 902px) {
  }

  @media screen and (max-width: 640px) {
    height: 100vh;
    padding: 0;
  }

  p {
    font-size: 21px;
    line-height: 40px;
    letter-spacing: 0.03em;
    color: #555555;
    margin-bottom: 80px;
    font-weight: 300;

    @media screen and (max-width: 1245px) {
      font-size: 16px;
      line-height: 25px;
      width: 50%;
    }
    @media screen and (max-width: 902px) {
      width: 100%;
    }
  }
}

.top-area__wrapper {
  width: 50%;

  @media screen and (max-width: 1245px) {
    width: 100%;
  }
}

.button {
  background: #9dd524;
  border-radius: 60px;
  padding: 30px 65px;
  color: #ffffff;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  color: #ffffff;

  @media screen and (max-width: 1245px) {
    padding: 15px 40px;
    font-size: 16px;
  }

  &-phone {
    padding: 20px;
    display: inline-block;
    position: absolute;
    right: 20px;

    @media screen and (max-width: 1245px) {
      padding: 13px;
    }
  }
}

.button:active {
  background: #ffffff;
  border: 2px solid #9dd524;
  color: #9dd524;
  box-shadow: none;
}

.button-phone:active {
  background: #9dd524;
}
